/* .background {

  background-size: cover;
} */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 3ch auto minmax(100px, auto);
}

.startGameMenu {
    grid-column: 2/3;
    grid-row: 2;
}
